body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #head {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url('assets/snake.png');
    background-size: cover;
  }
  
  #head-img {
    height: 50px;
    width: 50px;
  }
  
  #game-start-modal {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
  }
  
  #board {
    background-color: rgb(51, 64, 119);
    height: 700px;
    width: 700px;
    border: 1px black solid;
    position: relative;
  }
  
  #apple {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url('assets/apple.png');
    background-size: cover;
  }
  
  .body {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: green;
    /* background-image: url('assets/chronos_icon_2.png'); */
    background-size: cover;
  }